.book-train-card{
    width:100%;
    padding: 12px;
    color: #3d3d3d;
    /* border:1px solid black; */
}
.booked-train-detail{
    display: flex;
    justify-content: space-between;
    /* font-size:36px; */
    font-size: clamp(16px,2vw,36px);
    font-weight: 600;
    /* background-color: cadetblue; */
    /* color: white; */
}
.booked-journey-detail{
    display: flex;
    justify-content: space-between;
    /* color: #3D3D3D; */
}